    <h2>welcome, pigs</h2>
    <form id="searchContainer" class="form-inline">
        <div class="form-group">
            <label for="searchBox" class="sr-only">Search for a dude</label>
            <input type="text" id="searchBox" class="form-control" placeholder="search for a dude"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div id="searchResults"class="container"></div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            checkForRequestParam();

            $("#searchContainer").submit(function (e) {
                e.preventDefault();
                var query = $("#searchBox").val();
                window.history.pushState(query + " search", query + " search", "?query=" + query);
                submitQuery(query);

                return false;
            })

        })
        function checkForRequestParam() {
            var q = get('query');
            if (q) {
                submitQuery(q);
            }
        }
        function submitQuery(query) {
            var uri = "/api/search/get";
            $("#searchBox").val(query);
            $.getJSON(uri + "?query=" + query)
                .done(function (data) {
                    clearResults();
                    var rowDiv = $("<div>", { class: "row row-eq-height" });
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        formatItem(item).appendTo($(rowDiv));
                    });
                    rowDiv.appendTo($("#searchResults"));
                    console.log(rowDiv);
                });
        }
        function formatItem(item) {
            var el = {
                newDiv: $("<div>", { class: "searchResultItem col-lg-3 col-md-4 col-sm-6 col-xs-12"}),
                newImg: $('<img>', {height: item.ThumbnailImage.Height, width: item.ThumbnailImage.Width, class: "img-rounded", src: item.ThumbnailImage.MediaUrl}),
                newAnchor: $("<a>", {target: "_blank", class: "thumbnail", id: "newAnchor", href: item.MediaUrl })
            };

            el.newImg.appendTo(el.newAnchor);
            el.newAnchor.appendTo(el.newDiv);
            return el.newDiv;
        }

        function clearResults() {
            $("#searchResults").empty();
        }

        function get(name) {
            if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }
    </script>
